body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  font-weight: 400;

  background-color: #849d8f;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 27px;
  margin: 0 auto;

  box-sizing: border-box;
}

.button {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 40px;
  padding-left: 40px;

  font-weight: 700;
  color: #fff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: linear-gradient(to bottom, #f26843, #e74a35);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  border-radius: 30px;
  border: none;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d74632, #e1613e);
  box-shadow: inset 0 2px 2px 0 rgba(172, 16, 0, 1);
}

.main-header {
  margin-bottom: 10px;
}

.main-header-wrapper {
  display: flex;
}

.logo {
  width: 154px;
  height: 64px;
  margin-right: 10px;
}

.main-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.main-navigation {
  width: 600px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.main-navigation-item {
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 13px;
  padding-right: 13px;

  line-height: 18px;
  font-weight: 700;
  color: #fff;

  border-radius: 16px;
}

.main-navigation-item:hover,
.main-navigation-item:focus,
.main-navigation-item.active:hover,
.main-navigation-item.active:focus {
  color: #323232;

  background-color: #f7f6f3;
}

.main-navigation-item.active {
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 13px;
  padding-right: 13px;

  background-color: #d07058;
  border-radius: 16px;
}

.catalog-navigation {
  padding: 0;
  margin: 0;

  list-style: none;
}

.catalog-navigation-item {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.catalog-navigation-item.new {
  font-weight: 700;
}

.catalog-navigation-item:hover,
.catalog-navigation-item:focus {
  background-color: #fbded7;
}

.catalog-navigation-item:active {
  background-color: #f6b5a5;
}

.catalog-navigation-item.current {
  color: #fff;

  background-color: #d07058;
}

.user-navigation {
  width: 300px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.user-navigation-item {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
}

.user-navigation-item:hover,
.user-navigation-item:focus {
  color: #323232;
}

input[type="search"],
input[type="email"],
input[type="text"]:not(.price-field),
input[type="password"],
textarea {
  min-width: 240px;

  padding: 13px;
  padding-bottom: 10px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000;

  background-color: #fff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

input[type="search"]:hover,
input[type="email"]:hover,
input[type="text"]:hover:not(.price-field),
input[type="password"]:hover,
textarea:hover {
  padding: 12px;
  padding-bottom: 9px;

  border: 2px solid #c7c6c5;
}

input[type="search"]:focus,
input[type="email"]:focus,
input[type="text"]:focus:not(.price-field),
input[type="password"]:focus,
textarea:focus {
  padding: 12px;
  padding-bottom: 9px;

  border: 2px solid #8fbdec;
  outline: none;
}

.user-navigation .button {
  padding-top: 12px;
  padding-bottom: 11px;
  padding-right: 25px;
  padding-left: 25px;

  font-size: 18px;
  line-height: 24px;
}

.password-register {
  padding: 0;
  margin: 0;

  list-style: none;
}

.password-register a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;

  border-bottom: 1px solid #323232;
}

.password-register a:hover,
.password-register a:focus {
  color: #e84d37;

  border-bottom: 1px solid #e84d37;
}

.basket-container {
  font-size: 13px;
  line-height: 16px;
  color: #323232;

  background-color: #f8f7f4;
}

.basket-item-price {
  color: #999;
}

.total-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.work-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.phone-number {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.time-number {
  float: right;
}

.time-number p {
  margin: 0;
  padding: 0;
}

.inner-page main {
  margin-top: 25px;
}

.main-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.product-slider {
  width: 100%;
  margin-bottom: 40px;
}

.index-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.offer {
  width: 560px;
}

.top-products {
  width: 100%;
  margin-bottom: 40px;
}

.catalog-heading {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.breadcrumbs {
  padding: 0;
  margin: 0;

  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  list-style: none;
}

.breadcrumbs a {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover {
  color: #ffbc9e;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.product-filter {
  width: 879px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
}

.filter-type {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-form select {
  padding: 15px;
  padding-top: 8px;
  padding-bottom: 8px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 18px;
}

.filter-form select:hover,
.filter-form select:focus {
  color: #323232;
  cursor: pointer;
}

.sorting-filter option {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #323232;
}

.price-field {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;

  background-color: transparent;
  border: none;
}

.option-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filter-button {
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 28px;
  padding-right: 26px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;

  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #fff;
  border-radius: 18px;
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;

  background-color: #fff;

  cursor: pointer;
}

.filter-button:active {
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 30px;
  padding-right: 28px;

  color: #323232;

  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
  border: none;

  cursor: pointer;
}

.inner-page .catalog-list {
  margin-bottom: 80px;
}

.paginator {
  padding: 0;
  margin: 0;

  list-style: none;
}

.paginator li {
  display: inline-block;
}

.paginator a {
  display: block;
  width: 25px;
  height: 25px;

  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  color: #fff;
  text-align: center;

  border-radius: 50%;
}

.paginator a:hover,
.paginator a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.paginator a:active {
  color: #323232;

  background-color: #fff;
}

.slide-heading {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.product-slider .button {
  font-size: 32px;
  line-height: 44px;
}

.offer-heading {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.offer p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.offer-raspberry {
  background-color: #6e1427;
  background-image: url(../img/background-img/raspbarry.jpg);
  background-repeat: no-repeat;
}

.offer-chocolade {
  background-color: #442a1d;
  background-image: url(../img/background-img/chocolade.jpg);
  background-repeat: no-repeat;
}

.offer .button {
  padding-top: 11px;
  padding-bottom: 13px;
  padding-left: 22px;
  padding-right: 24px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  width: 267px;
  margin-right: 26px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item-heading {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #fff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-item-heading:hover,
.catalog-item-heading:focus {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.kg {
  font-size: 30px;
}

.features {
  width: 100%;
  margin-bottom: 40px;

  color: #323232;

  background-color: #eddfc2;
  background-image: url(../img/background-img/wafer.jpg);
}

.about-us {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-item {
  width: 485px;
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.news {
  width: 560px;
  color: #323232;

  background-color: #fff;
  background-image: url(../img/background-img/news-background.jpg);
  background-repeat: no-repeat;
}

.news .news-heading {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.news a {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;

  /* Сделал рамкой, потому что подчеркивание не сплошное */
  border-bottom: 2px solid #323232;
}

.news a:hover,
.news a:focus {
  color: #e84d37;

  border-bottom: 2px solid #e84d37;
}

.subscribe {
  width: 560px;
  color: #323232;

  background-color: #f0efed;
}

.map.container {
  width: 1200px;
  padding: 0;
  margin: 0 auto;
}

.map {
  width: 1200px;
  height: 430px;
  position: relative;
}

.contacts {
  width: 302px;
  position: absolute;
  top: 62px;
  right: 27px;

  color: #323232;

  background-color: #fdfdfe;
}

.main-footer {
  display: flex;
  margin-top: 18px;
}

.footer-socials {
  width: 267px;
  margin-right: 133px;
}

.other-info {
  width: 330px;
}

.copyright {
  width: 190px;
  margin-left: auto;
}

.contact-type {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.address {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.phone {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.phone .work-time {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.socials-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.socials-link {
  color: #fff;
}

.other-info-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.other-info-list a {
  color: #fff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.other-info-list .providers-info {
  font-weight: 700;
}

.other-info-list a:hover,
.other-info-list a:focus {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.copyright p {
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.copyright a {
  color: #fff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.copyright a:hover,
.copyright a:focus {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.form-container {
  color: #323232;

  background-color: #f8f7f4;
}

.feedback-heading {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}
