body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  font-weight: 400;
}

.site-wrapper {
  min-width: 1200px;

  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: top center;
}

.wrapper-1 {
  transition:
    background-color 0.5s ease,
    background-image 0.5s ease;
  background: #849d8f url("../img/background-img/two-icecream-1.png") no-repeat top center;
}

.wrapper-2 {
  transition:
    background-color 0.5s ease,
    background-image 0.5s ease;
  background: #8996a6 url("../img/background-img/two-icecream-2.png") no-repeat top center;
}

.wrapper-3 {
  transition:
    background-color 0.5s ease,
    background-image 0.5s ease;
  background: #9d8b84 url("../img/background-img/two-icecream-3.png") no-repeat top center;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/background-img/two-icecream-2.png");
}

.site-wrapper::after {
  background-image: url("../img/background-img/two-icecream-3.png");
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 27px;
  margin: 0 auto;

  box-sizing: border-box;
}

/* =====================ШАПКА САЙТА======================= */

.main-header {
  padding-top: 10px;
  margin-bottom: 10px;
}

.main-header-wrapper {
  display: flex;
}

.logo {
  width: 154px;
  height: 64px;
  margin-right: 10px;
}

.main-menu {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.main-navigation {
  display: flex;
  align-items: flex-start;

  width: 600px;
  padding: 0;
  margin: 0;
  margin-top: 18px;

  list-style: none;
}

.main-navigation li {
  position: relative;
}

.main-navigation-item {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 14px;
  padding-right: 14px;

  line-height: 18px;
  font-weight: 700;
  color: #fff;

  border-radius: 16px;
}

.main-navigation-item:not(.current)::after {
  position: absolute;
  bottom: 2px;
  left: 50%;

  height: 1px;
  width: calc(100% - 28px);

  content: "";

  background-color: rgba(255, 255, 255, 0.2);

  transform: translateX(-50%);
}

.main-navigation-item:hover,
.main-navigation-item:focus,
.main-navigation-item.current:hover,
.main-navigation-item.current:focus,
li:hover .main-navigation-item {
  color: #323232;

  background-color: #f7f6f3;
}

.main-navigation-item:active,
.main-navigation-item.current:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.main-navigation-item.current {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 14px;
  padding-right: 14px;

  background-color: #d07058;
  border-radius: 16px;
}

.catalog-navigation-wrapper {
  position: absolute;
  top: 26px;
  left: -7px;

  display: none;
  padding-top: 6px;
}

.catalog-navigation {
  display: block;
  padding: 5px 0;
  margin: 0;
  min-width: 143px;

  list-style: none;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.catalog-navigation-item:not(:first-child) {
  padding-top: 4px;
}

.catalog-navigation-item:first-child {
  padding-bottom: 6px;
}

.catalog-navigation-item a {
  display: block;
  padding-top: 6px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 6px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.catalog-navigation-item:first-child a {
  padding-bottom: 6px;

  font-weight: 700;
}

.catalog-navigation li:first-child::after {
  position: absolute;
  top: 33px;
  left: 6px;

  width: 128px;
  height: 1px;

  content: "";

  background-color: rgba(53, 53, 53, 0.2);
}

.catalog-navigation-item a:hover:not(.current),
.catalog-navigation-item a:focus:not(.current) {
  background-color: #fbded7;
}

.catalog-navigation-item a:active:not(.current) {
  background-color: #f6b5a5;
}

.catalog-navigation-item .current {
  color: #fff;

  background-color: #d07058;
}

.main-navigation-item:hover + .catalog-navigation-wrapper,
.main-navigation-item:focus + .catalog-navigation-wrapper {
  display: block;
}

.catalog-navigation-wrapper:hover {
  display: block;
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  width: 300px;
  padding: 0;
  margin: 0;
  margin-top: 13px;

  list-style: none;
}

.user-navigation li {
  position: relative;

  margin-right: 10px;
}

.user-navigation li:last-child {
  margin-right: 0;
}

.user-navigation-item {
  display: block;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
}

.user-navigation-item:hover,
.user-navigation-item:focus,
  .user-search:hover .search {
  color: #323232;

  background-color: #f8f7f4;
}

.search {
  position: relative;
  width: 32px;
  height: 32px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;

  box-sizing: border-box;
}

.search .search-icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  margin: auto;

  fill: #fff;
}

.search:hover .search-icon,
.search:focus .search-icon,
.user-search:hover .search-icon {
  fill: #000;
}

.search-container {
  padding: 20px 15px;

  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.search-container p {
  margin: 0;
  padding: 0;
}

.search-container label {
  position: absolute;

  clip: rect(0 0 0 0);
}

.search-field {
  width: 310px;
  height: 44px;
  padding: 14px;
  padding-top: 10px;
  padding-bottom: 8px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000;

  background-color: #fff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;

  box-sizing: border-box;
}

.search-field:-ms-input-placeholder {
  color:#999;
}

.search-field::-moz-placeholder {
  color:#999;
}

.search-field::-webkit-input-placeholder {
  color: #999;
}

.search-field:hover {
  padding: 13px;
  padding-top: 9px;
  padding-bottom: 7px;

  border: 2px solid #c7c6c5;
}

.search-field:focus {
  padding: 13px;
  padding-top: 9px;
  padding-bottom: 7px;

  border: 2px solid #8fbdec;
  outline: none;
}

.search-container-wrapper {
  position: absolute;
  top: 32px;
  right: 0;

  padding-top: 4px;
  display: none;

  z-index: 1;
}

.search:hover + .search-container-wrapper,
.search:focus + .search-container-wrapper {
  display: block;
}

.search-container-wrapper:hover {
  display: block;
}

.login-container {
  padding: 20px 19px;
  padding-bottom: 22px;

  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.login-container p {
  margin: 0;
  padding: 0;
}

.login-container label {
  position: absolute;

  clip: rect(0 0 0 0);
}

.login {
  display: flex;
  align-items: center;
  height: 32px;

  position: relative;
  padding-left: 16px;
  padding-right: 17px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
}

.email-field,
.password-field {
  width: 240px;
  height: 44px;
  padding: 14px;
  padding-top: 10px;
  padding-bottom: 8px;
  margin: 0;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000;

  background-color: #fff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;

  box-sizing: border-box;
}

.email-field:-ms-input-placeholder,
.password-field:-ms-input-placeholder {
  color: #999;
}

.email-field::-moz-placeholder,
.password-field::-moz-placeholder {
  color: #999;
}

.email-field::-webkit-input-placeholder,
.password-field::-webkit-input-placeholder {
  color: #999;
}

.email-field:hover,
.password-field:hover {
  padding: 13px;
  padding-top: 9px;
  padding-bottom: 7px;

  border: 2px solid #c7c6c5;
}

.email-field:focus,
.password-field:focus {
  padding: 13px;
  padding-top: 9px;
  padding-bottom: 7px;

  border: 2px solid #8fbdec;
  outline: none;
}

.login .login-icon {
  margin-right: 6px;

  fill: #fff;
}

.login:hover .login-icon,
.login:focus .login-icon,
.user-login:hover .login-icon {
  fill: #000;
}

.login:hover + .login-container-wrapper,
.login:focus + .login-container-wrapper {
  display: block;
}

.user-login:hover .login {
  color: #323232;

  background-color: #f8f7f4;
}

.user-login:hover .login-container-wrapper {
  display: block;
}

.login-container-wrapper {
  position: absolute;
  top: 32px;
  right: 0;

  padding-top: 4px;
  display: none;

  z-index: 1;
}

.button-register-wrapper {
  display: flex;
  justify-content: space-between;
}

.login-form .button {
  display: inline-block;

  padding-top: 11px;
  padding-bottom: 9px;
  padding-right: 25px;
  padding-left: 24px;

  vertical-align: top;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;

  background: linear-gradient(to bottom, #f26843, #e74a35);
  box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 0.64);
  border-top-left-radius: 17px 22px;
  border-bottom-left-radius: 17px 22px;
  border-top-right-radius: 17px 22px;
  border-bottom-right-radius: 17px 22px;
  border: none;
}

.login-form .button:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 1);
}

.login-form .button:active {
  background: linear-gradient(to bottom, #d74632, #e1613e);
  box-shadow: inset 0 1px 2px 0 rgba(172, 16, 0, 1);
}

.password-register {
  padding: 0;
  margin: 0;

  list-style: none;
}

.password-register li:first-child {
  margin-bottom: -5px;
}

.password-register a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;

  border-bottom: 1px solid rgba(50, 50, 50, 0.5);
}

.password-register a:hover,
.password-register a:focus {
  color: #e84d37;

  border-bottom: 1px solid #e84d37;
}

.basket {
  display: flex;
  align-items: center;
  position: relative;

  min-width: 117px;
  height: 32px;
  padding-left: 16px;
  padding-right: 16px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  box-sizing: border-box;
}

.basket .basket-icon {
  margin-right: 6px;
}

.basket:hover + .basket-container-wrapper,
.basket:focus + .basket-container-wrapper,
.user-basket:hover .basket-container-wrapper {
  display: block;
}

.user-basket:hover circle,
.user-basket:hover path,
.basket:focus circle,
.basket:focus path {
  fill: #000;
}

.user-basket:hover .basket {
  color: #323232;

  background-color: #f8f7f4;
}

.basket.not-empty circle,
.basket.not-empty path {
  fill: #000;
}

.basket.not-empty polygon {
  fill: #e84d37;
}

.basket.not-empty {
  color: #323232;

  background-color: #f8f7f4;
}

.basket-container-wrapper {
  position: absolute;
  top: 32px;
  right: 0;

  padding-top: 4px;
  display: none;

  z-index: 1;
}

.basket-container {
  width: 540px;
  padding: 20px 15px;
  box-sizing: border-box;

  font-size: 13px;
  line-height: 16px;
  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.basket-container table {
  border-collapse: collapse;
}

.delete-item {
  position: relative;

  display: block;
  width: 11px;
  height: 11px;
}

.basket-container .delete-item::before,
.basket-container .delete-item::after {
  position: absolute;
  top: 0;
  left: -1px;

  width: 13px;
  height: 1px;

  content: "";

  background-color: #000;
}

.basket-container .delete-item::before {
  top: 5px;

  transform: rotate(45deg);
}

.basket-container .delete-item::after {
  top: 5px;

  transform: rotate(-45deg);
}

.basket-container hr {
  margin: 0;
  margin-top: 3px;
  padding: 0;
  height: 1px;

  border: none;
  background-color: #cacac7;
}

.basket-container td {
  padding-right: 11px;
  padding-bottom: 15px;
}

.basket-container img {
  border-radius: 50%;
}

.basket-container td:nth-child(3) {
  width: 230px;
}

.basket-container td:nth-child(4) {
  width: 115px;

  text-align: center;
}

.basket-container td:last-child {
  width: 60px;

  text-align: center;
}

.basket-item-price {
  color: #999;
}

.confirm-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.confirm-wrapper .total-price {
  margin-top: 15px;
  margin-bottom: 14px;

  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.user-basket .button {
  display: inline-block;

  padding-top: 9px;
  padding-left: 14px;
  padding-right: 15px;
  padding-bottom: 11px;

  vertical-align: top;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;

  background: linear-gradient(to bottom, #f26843, #e74a35);
  box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 0.64);
  border-top-left-radius: 17px 22px;
  border-bottom-left-radius: 17px 22px;
  border-top-right-radius: 17px 22px;
  border-bottom-right-radius: 17px 22px;
  border: none;
}

.user-basket .button:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 1);
}

.user-basket .button:active {
  background: linear-gradient(to bottom, #d74632, #e1613e);
  box-shadow: inset 0 1px 2px 0 rgba(172, 16, 0, 1);
}

.work-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.phone-number {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.time-number {
  margin-top: -2px;
  float: right;

  text-align: right;
}

.time-number p {
  margin: 2px 0;
  padding: 0;
}

/* ========================== Main Главной ============================ */

.main-wrapper {
  display: flex;
  flex-wrap: wrap;
}

/* =========================== Слайдер =============================== */

.product-slider {
  position: relative;

  width: 100%;
  min-height: 220px;
  margin-top: 318px;
  margin-bottom: 35px;

  box-sizing: border-box;
}

.slides {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
  width: 675px;
  margin: 0 auto;

  text-align: center;
}

.slide.active {
  display: block;

  color: white;
}

.slide-heading {
  padding: 0;
  margin: 0;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slide .button {
  display: inline-block;

  margin-top: 30px;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 42px;
  padding-bottom: 10px;

  vertical-align: top;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: linear-gradient(to bottom, #f26843, #e74a35);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  border-radius: 35px;
}

.slide .button:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
}

.slide .button:active {
  background: linear-gradient(to bottom, #d74632, #e1613e);
  box-shadow: inset 0 2px 2px 0 rgba(172, 16, 0, 1);
}

.toggles {
  position: absolute;
  left: 0;
  bottom: 25px;
}

.toggle {
  margin-right: 5px;
  width: 20px;
  height: 20px;

  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #fff;
}

.toggle:hover,
.toggle:focus {
  background-color: rgba(255, 255, 255, 0.4);

  cursor: pointer;
}


.toggle.active {
  background-color: #fff;
}

/*=========================== Предложения =============================*/

.index-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 40px;
}

.offer {
  padding: 18px;
  width: 560px;

  border-radius: 15px;

  box-sizing: border-box;
}

.offer-heading {
  padding: 0;
  padding-bottom: 8px;
  margin: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.offer p {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.offer-raspberry {
  background: #6e1427 url(../img/background-img/raspbarry.jpg) no-repeat;
}

.offer-chocolade {
  background: #442a1d url(../img/background-img/chocolade.jpg) no-repeat;
}

.offer-button-wrapper {
  text-align: right;
}

.offer .button {
  display: inline-block;

  margin-top: 32px;
  margin-right: 3px;
  margin-bottom: 5px;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 22px;
  padding-right: 24px;

  vertical-align: top;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;

  background: linear-gradient(to bottom, #f26843, #e74a35);
  box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 0.64);
  border-radius: 25px;
}

.offer .button:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 1);
}

.offer .button:active {
  background: linear-gradient(to bottom, #d74632, #e1613e);
  box-shadow: inset 0 1px 2px 0 rgba(172, 16, 0, 1);
}

/* ==================== Хиты продаж + каталог ========================= */

.top-products {
  width: 100%;
}

.catalog {
  padding-bottom: 20px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.highlighting {
  position: absolute;
  top: -6px;
  left: -5%;

  display: none;
  width: calc(100% + 10%);
  height: 405px;

  content: "";

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3);
}

.catalog-item {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 267px;
  margin-right: 26px;
  margin-bottom: 40px;
}

.catalog-item-top::after {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 61px;
  height: 61px;
  content: "";

  background: url(../img/decoration-img/top.svg) no-repeat;

  z-index: 1;
}

.img-price-wrapper {
  position: relative;
  display: flex;

  width: 100%;

  order: 0;
  z-index: 1;
}

.catalog-item img {
  display: block;
  width: 100%;

  border-radius: 50%;
}

.price {
  position: absolute;
  left: 0;
  bottom: 10px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;

  text-shadow: 0 2px 5px rgba(49, 50, 53, 0.5);
}

.ruble {
  position: relative;

  margin-left: -5px;
}

.ruble::before {
  position: absolute;
  top: 26px;
  left: -1px;

  display: block;
  height: 5px;
  width: 10px;

  content: "";

  background-color: #fff;
}

.ruble::after {
  position: absolute;
  top: 34px;
  left: -1px;

  display: block;
  height: 5px;
  width: 26px;

  content: "";

  background-color: #fff;
}

.kg {
  font-size: 30px;
}

.catalog-item-heading {
  padding: 0;
  padding-top: 10px;
  margin: 0;

  text-align: center;

  order: 1;
  z-index: 1;
}

.catalog-item-heading a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #fff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-item-heading a:hover,
.catalog-item-heading a:focus {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item .button {
  position: absolute;
  left: 50%;
  bottom: -60px;

  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 17px;
  padding-left: 17px;

  vertical-align: top;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;

  background: linear-gradient(to bottom, #f26843, #e74a35);
  box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 0.64);
  border-top-left-radius: 17px 22px;
  border-bottom-left-radius: 17px 22px;
  border-top-right-radius: 17px 22px;
  border-bottom-right-radius: 17px 22px;

  transform: translateX(-50%);

  order: 3;
  z-index: 1;
}

.catalog-item .button:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 1);
}

.catalog-item .button:active {
  background: linear-gradient(to bottom, #d74632, #e1613e);
  box-shadow: inset 0 1px 2px 0 rgba(172, 16, 0, 1);
}

.catalog-item:hover {
  z-index: 2;
}

.catalog-item:hover .highlighting {
  display: block;
}

.catalog-item:hover .button {
  display: inline-block;
}
/* =========================== Преимущества ========================== */

.features {
  width: 100%;
  margin-bottom: 40px;
  padding: 20px;
  padding-top: 25px;
  padding-bottom: 22px;

  color: #323232;

  background-color: #eddfc2;
  background-image: url(../img/background-img/wafer.jpg);
  border-radius: 15px;

  box-sizing: border-box;
}

.about-us {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.features-item {
  position: relative;

  width: 483px;
  margin-bottom: 3px;
  padding-top: 20px;
  padding-left: 57px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.features-item::before {
  position: absolute;
  top: 7px;
  left: 0;

  display: block;
  height: 49px;
  width: 49px;

  content: "";

  border-radius: 50%;
  background: url(../img/decoration-img/feature-icecream.png) no-repeat;
}

.features-item:nth-child(2)::before {
  background-image: url(../img/decoration-img/feature-cow.png);
}

.features-item:nth-child(3)::before {
  background-image: url(../img/decoration-img/feature-leaf.png);
}

.features-item:nth-child(4)::before {
  background-image: url(../img/decoration-img/feature-thermometer.png);
}

.features-item:nth-child(odd) {
  margin-right: 25px;
}

/* ======================== Новости + подписка ====================== */

.news {
  padding: 25px 20px;
  width: 560px;

  color: #323232;

  background-color: #fff;
  background-image: url(../img/background-img/news-background.jpg);
  background-repeat: no-repeat;
  background-position: 156px -63px;
  border-radius: 15px;

  box-sizing: border-box;
}

.news-heading {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.news-column {
  display: block;
  margin: 0;
  margin-top: 3px;
  padding: 0;
  width: 290px;
}

.news a {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;

  border-bottom: 2px solid #323232;
}

.news a:hover,
.news a:focus {
  color: #e84d37;

  border-bottom: 2px solid #e84d37;
}

.subscribe {
  padding: 6px;
  width: 560px;

  color: #323232;

  background-color: #f0efed;
  border-radius: 15px;
  background-image: repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 10px, #92cdff 10px, #92cdff 20px, #f8f7f4 20px, #f8f7f4 30px, #fe9e90 30px, #fe9e90 40px);

  box-sizing: border-box;
}

.subscribe-form label {
  position: absolute;

  clip: rect(0 0 0 0);
}

.subscribe-wrapper {
  padding: 30px 20px 35px;
  width: 100%;

  background-color: #f0efed;
  border-radius: 12px;

  box-sizing: border-box;
}

.subscribe-text {
  margin: 0;
  padding: 0;
}

.subscribe-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  padding: 0;
  margin: 0;
  margin-top: 35px;
}

.subscribe-form p {
  flex-grow: 1;

  margin: 0;
  margin-right: 10px;
  padding: 0;
}

.subscribe-email-field {
  width: 100%;
  height: 44px;
  margin: 0;
  padding: 14px;
  padding-top: 10px;
  padding-bottom: 8px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000;

  background-color: #fff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;

  box-sizing: border-box;
}

.subscribe-email-field:-ms-input-placeholder {
  color: #999;
}

.subscribe-email-field::-moz-placeholder {
  color: #999;
}

.subscribe-email-field::-webkit-input-placeholder {
  color: #999;
}

.subscribe-email-field:hover {
  padding: 13px;
  padding-top: 9px;
  padding-bottom: 7px;

  border: 2px solid #c7c6c5;
}

.subscribe-email-field:focus {
  padding: 13px;
  padding-top: 9px;
  padding-bottom: 7px;

  border: 2px solid #8fbdec;
  outline: none;
}

.subscribe-form .button {
  display: inline-block;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 17px;
  padding-left: 17px;

  vertical-align: top;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;

  background: linear-gradient(to bottom, #f26843, #e74a35);
  box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 0.64);
  border-radius: 25px;
  border: none;
}

.subscribe-form .button:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 1);
}

.subscribe-form .button:active {
  background: linear-gradient(to bottom, #d74632, #e1613e);
  box-shadow: inset 0 1px 2px 0 rgba(172, 16, 0, 1);
}

/* ======================== Карта + обратная связь ================== */

.map-wrapper {
  padding: 0;
  width: 100%;
  height: 430px;
}

.map-wrapper .container {
  padding-top: 62px;

  box-sizing: border-box;
}

.map-container {
  position: absolute;

  width: 100%;

  text-align: center;
}

.map {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.interactive-map {
  position: absolute;

  min-width: 1200px;
  width: 100%;
  height: 430px;

  border: none;
}

.contacts {
  position: relative;

  margin-left: auto;
  padding: 30px 25px;
  width: 302px;
  min-height: 305px;

  color: #323232;

  background-color: #fefefe;
  border-radius: 15px;

  box-sizing: border-box;
  z-index: 1;
}

.contacts p {
  margin: 0;
  padding: 0;
}

.contact-address {
  margin-bottom: 17px;
}

.contact-address .contact-type {
  width: 155px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.contact-address .address {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contact-phone .contact-type {
  margin-bottom: 5px;
}

.contact-phone .phone {
  margin-bottom: 5px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.contact-phone .work-time {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.contacts .button {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 17px;
  padding-left: 17px;
  margin-top: 25px;
  width: 100%;

  text-align: center;
  vertical-align: top;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;

  background: linear-gradient(to bottom, #f26843, #e74a35);
  box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 0.64);
  border-radius: 25px;
  border: none;
  box-sizing: border-box;
}

.contacts .button:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 1);
}

.contacts .button:active {
  background: linear-gradient(to bottom, #d74632, #e1613e);
  box-shadow: inset 0 1px 2px 0 rgba(172, 16, 0, 1);
}

/* =========================== Подвал =============================== */

.main-footer {
  display: flex;
  align-items: flex-start;

  margin-top: 18px;
  padding-bottom: 25px;
}

.footer-socials {
  margin-top: 17px;
  margin-right: 90px;
  width: 300px;
}

.socials-list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.socials-item {
  margin-right: 11px;
}

.socials-link {
  display: block;
  width: 32px;
  height: 32px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.socials-link:hover,
.socials-link:focus {
  border-color: rgba(255, 255, 255, 0.7);
}

.socials-link:hover svg,
.socials-link:focus svg {
  opacity: 1;
}

.socials-link:active path,
.socials-link:active rect {
  fill: #e9e9e9;
}

.twitter svg,
.instagram svg,
.facebook svg,
.vkontakte svg {
  opacity: 0.8;
}

.other-info {
  margin-top: 17px;
  width: 340px;
}

.other-info li:nth-child(odd) {
  padding-left: 30px;
  box-sizing: border-box;
}

.providers-info::before {
  position: absolute;
  top: 6px;
  left: 7px;

  width: 15px;
  height: 13px;

  content: "";

  background: url(../img/decoration-img/heart.svg) no-repeat;
}

.other-info-list {
  position: relative;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.other-info-list li {
  width: 170px;
}

.other-info-list a {
  color: #fff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.other-info-list .providers-info {
  font-weight: 700;
}

.other-info-list a:hover,
.other-info-list a:focus {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.copyright {
  width: 195px;
  margin-left: auto;
}

.copyright p {
  margin: 0;
  margin-left: auto;
  padding: 0;

  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.copyright a {
  color: #fff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.copyright a:hover,
.copyright a:focus {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

/* ======================= Внутренняя страница ======================= */

.inner-page main {
  margin-top: 25px;
}

.inner-page .catalog-list {
  margin-bottom: 80px;
}

.breadcrumbs {
  display: flex;

  padding: 0;
  margin: 0;
  margin-top: 4px;
  margin-bottom: 5px;

  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  list-style: none;
}

.breadcrumbs li {
  padding-right: 22px;
}

.breadcrumbs a {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs li:not(:last-child)::after {
  position: absolute;
  margin-left: 8px;

  content: "»";
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.catalog-heading {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

/* ========================== Фильтр товаров ========================= */

.product-filter {
  margin-bottom: 32px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filter-type {
  margin-left: 16px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.product-filter [class*="wrapper"] {
  margin-bottom: 8px;
}

.sorting-filter-wrapper {
  width: 200px;
  min-height: 65px;
  margin: 0;
  margin-right: 8px;
  padding: 0;
}

.sorting-filter-wrapper .filter-type {
  display: inline-block;
  margin-top: -2px;
  margin-bottom: 6px;

  vertical-align: middle;
}

.sorting-filter {
  padding-left: 16px;
  width: 193px;
  height: 36px;

  color: #fff;

  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url(../img/decoration-img/triarngle-list.svg);
  background-repeat: no-repeat;
  background-position: 168px 13px;
  border-radius: 20px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  cursor: pointer;
}

.sorting-filter::-ms-expand {
  display: none;
}

.sorting-filter > option {
  color: #fff;

  background-color: #a9bab0;
  border-radius: 10px;
}

.sorting-filter:hover,
.sorting-filter:focus {
  color: #000;

  background-image: url(../img/decoration-img/triarngle-list-black.svg);
}

.price-filter-wrapper {
  width: 220px;
  min-height: 65px;
  margin-right: 13px;
}

.price-filter {
  margin: 0;
  margin-top: -4px;
  margin-bottom: 4px;
  padding: 0;
}

.price-field {
  width: 25px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;

  background-color: transparent;
  border: none;
}

.line-field {
  position: relative;

  padding-top: 16px;
  width: 218px;
  height: 36px;
  box-sizing: border-box;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.line {
  margin: auto;
  width: 176px;
  height: 4px;

  background-color: rgba(255, 255, 255, 0.5);
}

.slider-min,
.slider-max {
  position: absolute;
  width: 4px;
  height: 4px;

  border-radius: 50%;
  background-color: #ababab;
  border: 8px solid #fff;

  cursor: pointer;
}

.slider-min {
  top: 8px;
  left: 42px;
}

.slider-max {
  top: 8px;
  right: 74px;
}

.slider-min:hover,
.slider-max:hover,
.slider-min:focus,
.slider-max:focus {
  top: 7px;

  border-width: 9px;
}

.slider-min:hover,
.slider-min:focus {
  left: 41px;
}

.slider-max:hover,
.slider-max:focus {
  right: 73px;
}

.line-between-sliders {
  position: absolute;
  top: 16px;
  left: 60px;

  width: 80px;
  height: 4px;

  background-color: rgba(255, 255, 255, 0.8);
}

.product-filter fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.fat-filter {
  align-self: flex-start;
}

.fat-filter .filter-type,
.fillers-filter .filter-type {
  margin-bottom: 6px;
}

.fat-options-wrapper {
  display: flex;

  height: 36px;
  padding: 7px;
  box-sizing: border-box;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.fat-options-wrapper p {
  position: relative;

  margin: 0;
  margin-right: 11px;
  padding: 0;
  padding-left: 40px;
}

.fat-radiobutton:checked + .option-text::after {
  display: block;
}

.fat-options-wrapper .option-text::before {
  position: absolute;
  top: 0;
  left: 7px;

  width: 16px;
  height: 16px;

  content: "";

  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.8);

  cursor: pointer;
}

.fat-options-wrapper .option-text::after {
  position: absolute;
  top: 7px;
  left: 14px;

  display: none;
  width: 8px;
  height: 8px;

  content: "";

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);

  cursor: pointer;
}

.fat-options-wrapper .option-text:hover {
  cursor: pointer;
}

.fat-options-wrapper .option-text:hover::before,
.fat-options-wrapper .option-text:focus::before {
  border-color: rgba(255, 255, 255, 1);
}

.fat-options-wrapper .option-text:hover::after,
.fat-options-wrapper .option-text:focus::after {
  background-color: rgba(255, 255, 255, 1);
}

.fat-radiobutton:focus + .option-text::before {
  border-color: rgba(255, 255, 255, 1);
}

.fat-radiobutton:focus + .option-text::after {
  background-color: rgba(255, 255, 255, 1);
}

.fat-radiobutton:disabled + .option-text::before {
  border-color: rgba(255, 255, 255, 0.4);

  cursor: default;
}

.fat-radiobutton:disabled + .option-text::after {
  background-color: rgba(255, 255, 255, 0.4);

  cursor: default;
}

.fat-radiobutton:disabled + .option-text {
  color: rgba(255, 255, 255, 0.4);

  cursor: default;
}

.fillers-options-wrapper {
  display: flex;

  height: 36px;
  padding: 6px;
  box-sizing: border-box;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.fillers-options-wrapper p {
  position: relative;

  margin: 0;
  margin-right: 14px;
  padding: 0;
  padding-left: 40px;
}

.filler-checkbox:checked + .option-text::before {
  background-image: url(../img/decoration-img/checkbox-on.svg);
}

.fillers-options-wrapper .option-text::before {
  position: absolute;
  top: 2px;
  left: 7px;

  width: 26px;
  height: 23px;

  content: "";

  background-image: url(../img/decoration-img/checkbox-off.svg);
  background-repeat: no-repeat;
  opacity: 0.8;

  cursor: pointer;
}

.filler-checkbox:not(:disabled) + .option-text:hover::before,
.filler-checkbox:not(:disabled) + .option-text:focus::before {
  opacity: 1;
}

.filler-checkbox:focus:not(:disabled) + .option-text:before {
  opacity: 1;
}

.fillers-options-wrapper .option-text:hover {
  cursor: pointer;
}

.filler-checkbox:disabled + .option-text,
.filler-checkbox:disabled + .option-text::before {
  opacity: 0.4;

  cursor: default;
}

.option-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filter-button {
  align-self: flex-end;

  display: inline-block;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 26px;
  padding-right: 28px;
  margin-left: 14px;
  margin-bottom: 8px;

  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;

  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #fff;
  border-top-left-radius: 17px 22px;
  border-bottom-left-radius: 17px 22px;
  border-top-right-radius: 17px 22px;
  border-bottom-right-radius: 17px 22px;
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;

  background-color: #fff;

  cursor: pointer;
}

.filter-button:active {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 28px;
  padding-right: 30px;

  color: #323232;

  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
  border: none;
}

/* ============================ Пагинатор =========================== */

.paginator {
  display: flex;
  justify-content: flex-end;

  padding: 0;
  margin: 0;

  list-style: none;
}

.page-link {
  display: block;
  width: 25px;
  height: 25px;
  margin-right: 3px;

  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  color: #fff;
  text-align: center;

  border-radius: 50%;
}

.previous-page,
.next-page {
  position: relative;

  display: block;
  width: 25px;
  height: 25px;
  margin-right: 3px;

  border-radius: 50%;
}

.next-page {
  margin-right: 0;
}

.previous-page::before {
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
  margin: auto;

  content: "";
  width: 8px;
  height: 8px;

  border-top: 2px solid rgba(255, 255, 255, 1);
  border-left: 2px solid rgba(255, 255, 255, 1);

  transform: rotate(-45deg);
}

.next-page::before {
  position: absolute;
  top: 0;
  left: 6px;
  bottom: 0;
  margin: auto;

  content: "";
  width: 8px;
  height: 8px;

  border-top: 2px solid rgba(255, 255, 255, 1);
  border-right: 2px solid rgba(255, 255, 255, 1);

  transform: rotate(45deg);
}

.page-link:not(.current-page):hover,
.page-link:not(.current-page):focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.paginator .page-link:not(.disabled):active,
.current-page {
  color: #323232;

  background-color: #fff;
}

.previous-page:not(.disabled):active::before,
.next-page:not(.disabled):active::before {
  border-color: #323232;
}

.paginator .disabled {
  opacity: 0.2;

  cursor: default;
}

.paginator .disabled:hover {
  background-color: transparent;
}

.current-page {
  cursor: default;
}

/* ========================== Модалка ============================== */

.feedback-container {
  position: fixed;
  top: 250px;
  left: 50%;

  display: none;
  padding: 17px 24px;
  min-width: 477px;
  box-sizing: border-box;

  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);

  transform: translateX(-50%);

  z-index: 2;
}

.feedback-container label {
  position: absolute;

  clip: rect(0 0 0 0);
}

.feedback-container p {
  margin: 0;
  padding: 0;
}

.feedback-heading {
  margin: 0;
  padding: 0;
  padding-bottom: 18px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.feedback-name-field,
.feedback-email-field,
.feedback-wishes-field {
  width: 267px;
  padding: 14px;
  padding-top: 10px;
  padding-bottom: 8px;
  margin: 0;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000;

  background-color: #fff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;

  box-sizing: border-box;
}

.feedback-name-field,
.feedback-email-field {
  height: 44px;
}

.feedback-wishes-field {
  min-height: 160px;
  min-width: 429px;
}

.feedback-name-field:-ms-input-placeholder,
.feedback-email-field:-ms-input-placeholder,
.feedback-wishes-field:-ms-input-placeholder {
  color: #999;
}

.feedback-name-field::-moz-placeholder,
.feedback-email-field::-moz-placeholder,
.feedback-wishes-field::-moz-placeholder {
  color: #999;
}

.feedback-name-field::-webkit-input-placeholder,
.feedback-email-field::-webkit-input-placeholder,
.feedback-wishes-field::-webkit-input-placeholder {
  color: #999;
}

.feedback-name-field:hover,
.feedback-email-field:hover,
.feedback-wishes-field:hover {
  padding: 13px;
  padding-top: 9px;
  padding-bottom: 7px;

  border: 2px solid #c7c6c5;
}

.feedback-name-field:focus,
.feedback-email-field:focus,
.feedback-wishes-field:focus {
  padding: 13px;
  padding-top: 9px;
  padding-bottom: 7px;

  border: 2px solid #8fbdec;
  outline: none;
}

.feedback-wishes-field {
  width: 100%;
}

.feedback-button-wrapper {
  margin-bottom: 10px;
  text-align: right;
}

.feedback-form .button {
  display: inline-block;

  padding-top: 9px;
  padding-bottom: 11px;
  padding-right: 23px;
  padding-left: 24px;

  vertical-align: top;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;

  background: linear-gradient(to bottom, #f26843, #e74a35);
  box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 0.64);
  border-radius: 25px;
  border: none;
}

.feedback-form .button:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 1);
}

.feedback-form .button:active {
  background: linear-gradient(to bottom, #d74632, #e1613e);
  box-shadow: inset 0 1px 2px 0 rgba(172, 16, 0, 1);
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 18px;
  height: 18px;

  border: none;
  background: none;

  cursor: pointer;
}

.modal-close:active {
  outline: none;
}

.modal-close::before,
.modal-close::after {
  position: absolute;
  top: 45%;
  left: -2px;

  width: 22px;
  height: 2px;

  content: "";

  background-color: black;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);

  z-index: 1;
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.enabled {
  display: block;
}

.error {
  animation: error 0.5s;
}

/* =========================== Анимация ================================= */

@keyframes error {
  0%,
  100% {
    transform: translateX(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-51%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(-49%);
  }
}

@keyframes bounce {
  0% {
    transform: translate(-50%, -2000px) scale(1);
  }

  70% {
    transform: translate(-50%, 30px) scale(1);
  }

  90% {
    transform: translate(-50%, -10px) scale(1.01);
  }

  100% {
    transform: translate(-50%, 0) scale(1);
  }
}
