body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  font-weight: 400;
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/background-img/two-icecream-1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-color 0.5s ease;
  transition: background-image 0.5s ease;

  /* background-image: url(../img/gllacy-index-1200.jpg);
  background-repeat: no-repeat;
  background-position: top center; */
}

.wrapper-2 {
  background-color: #8996a6;
  background-image: url("../img/background-img/two-icecream-2.png");
}

.wrapper-3 {
  background-color: #9d8b84;
  background-image: url("../img/background-img/two-icecream-3.png");
}

.inner-page .site-wrapper {
  background-image: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 27px;
  margin: 0 auto;

  box-sizing: border-box;
}

.button {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 12px;
  padding-left: 14px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;

  background: linear-gradient(to bottom, #f26843, #e74a35);
  box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 0.64);
  border-top-left-radius: 17px 22px;
  border-bottom-left-radius: 17px 22px;
  border-top-right-radius: 17px 22px;
  border-bottom-right-radius: 17px 22px;
  border: none;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d74632, #e1613e);
  box-shadow: inset 0 1px 2px 0 rgba(172, 16, 0, 1);
}

.main-header {
  padding-top: 10px;
  margin-bottom: 10px;
}

.main-header-wrapper {
  display: flex;
}

.logo {
  width: 154px;
  height: 64px;
  margin-right: 10px;
}

.main-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.main-navigation {
  display: flex;
  align-items: flex-start;
  width: 600px;
  padding: 0;
  margin: 0;
  margin-top: 18px;

  list-style: none;
}

.main-navigation li {
  position: relative;
}

.main-navigation-item .catalog-navigation:hover {
  background-color: black;
}

.main-navigation-item {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 14px;
  padding-right: 14px;

  line-height: 18px;
  font-weight: 700;
  color: #fff;

  border-radius: 16px;
}

.main-navigation-item:not(.current)::after {
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 1px;
  width: calc(100% - 28px);

  background-color: rgba(255, 255, 255, 0.2);
}

.main-navigation-item:hover,
.main-navigation-item:focus,
.main-navigation-item.current:hover,
.main-navigation-item.current:focus,
li:hover .main-navigation-item {
  color: #323232;

  background-color: #f7f6f3;
}

.main-navigation-item:active,
.main-navigation-item.current:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.main-navigation-item.current {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 14px;
  padding-right: 14px;

  background-color: #d07058;
  border-radius: 16px;
}

.catalog-navigation-wrapper {
  position: absolute;
  display: none;
  top: 26px;
  left: -7px;
  padding-top: 6px;
}

.catalog-navigation {
  display: block;
  padding: 5px 0;
  margin: 0;
  min-width: 143px;

  list-style: none;
  background-color: #f8f7f4;
  border-radius: 5px;

  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.catalog-navigation-item:not(:first-child) {
  padding-top: 4px;
}

.catalog-navigation-item:first-child {
  padding-bottom: 6px;
}

.catalog-navigation-item a {
  display: block;
  padding-top: 6px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 6px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;

  clip: inherit;
}

.catalog-navigation-item:first-child a {
  padding-bottom: 6px;

  font-weight: 700;
}

.catalog-navigation li:first-child::after {
  position: absolute;
  top: 33px;
  left: 6px;
  content: "";
  width: 128px;
  height: 1px;
  background-color: rgba(53, 53, 53, 0.2);
}

.catalog-navigation-item a:hover:not(.current),
.catalog-navigation-item a:focus:not(.current) {
  background-color: #fbded7;
}

.catalog-navigation-item a:active:not(.current) {
  background-color: #f6b5a5;
}

.catalog-navigation-item .current {
  color: #fff;

  background-color: #d07058;
}

li:hover .catalog-navigation-wrapper,
.main-navigation-item:focus + .catalog-navigation-wrapper {
  display: block;
}

input[type="search"],
input[type="email"],
input[type="text"]:not(.price-field),
input[type="password"],
textarea {
  min-width: 240px;

  padding: 14px;
  padding-top: 10px;
  padding-bottom: 8px;
  margin: 0;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000;

  background-color: #fff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="search"]:hover,
input[type="email"]:hover,
input[type="text"]:hover:not(.price-field),
input[type="password"]:hover,
textarea:hover {
  padding: 13px;
  padding-top: 9px;
  padding-bottom: 7px;

  border: 2px solid #c7c6c5;
}

input[type="search"]:focus,
input[type="email"]:focus,
input[type="text"]:focus:not(.price-field),
input[type="password"]:focus,
textarea:focus {
  padding: 13px;
  padding-top: 9px;
  padding-bottom: 7px;

  border: 2px solid #8fbdec;
  outline: none;
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 300px;
  padding: 0;
  margin: 0;
  margin-top: 13px;

  list-style: none;
}

.form-container {
  padding: 20px 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.form-container p {
  margin: 0;
  padding: 0;
}

.user-navigation li {
  position: relative;
  margin-right: 10px;
}

.user-navigation li:last-child {
  margin-right: 0;
}

.user-navigation-item {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
}

.user-navigation-item:hover,
.user-navigation-item:focus {
  color: #323232;

  background-color: #f8f7f4;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.search-form input {
  width: 310px;
  margin: 0;
}

.user-search:hover .search-container-wrapper,
.search:focus + .search-container-wrapper {
  display: block;
}

.user-search:hover .search {
  background-color: #f8f7f4;
}

.user-search:hover path,
.search:focus path {
  fill: #000;
}

.search-container-wrapper {
  position: absolute;
  top: 12px;
  right: 0;

  padding-top: 24px;
  display: none;
}

.login {
  display: flex;
  align-items: center;
  height: 32px;
  position: relative;

  padding-left: 16px;
  padding-right: 17px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: 240px;
}

.login svg {
  margin-right: 6px;
}

.user-login:hover .login-container-wrapper,
.login:focus + .login-container-wrapper {
  display: block;
}

.user-login:hover .login {
  color: #323232;

  background-color: #f8f7f4;
}

.user-login:hover polygon,
.user-login:hover path,
.login:focus polygon,
.login:focus path {
  fill: #000;
}

.login-container-wrapper {
  position: absolute;
  top: 32px;
  right: 0;

  padding-top: 4px;
  display: none;
}

.login-container {
  padding: 20px 19px;
  padding-bottom: 22px;
}

.basket {
  display: flex;
  align-items: center;
  min-width: 117px;
  height: 32px;
  position: relative;

  padding-left: 16px;
  padding-right: 16px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-sizing: border-box;
}

.basket svg {
  margin-right: 6px;
}

.user-basket:hover .basket-container-wrapper,
.basket:focus + .basket-container-wrapper {
  display: block;
}

.user-basket:hover circle,
.user-basket:hover path,
.basket:focus circle,
.basket:focus path {
  fill: #000;
}

.basket.not-empty:hover polygon,
.basket.not-empty:focus polygon,
.basket.not-empty polygon {
  fill: red;
}

.user-basket:hover .basket {
  color: #323232;

  background-color: #f8f7f4;
}

.basket-container-wrapper {
  position: absolute;
  top: 32px;
  right: 0;

  padding-top: 4px;
  display: none;
}

.basket-container {
  width: 540px;

  font-size: 13px;
  line-height: 16px;
  color: #323232;

  background-color: #f8f7f4;
  box-sizing: border-box;
}

.basket-container table {
  border-collapse: collapse;
}

.basket-container hr {
  margin: 0;
  margin-top: 3px;
  padding: 0;
  height: 1px;

  border: none;
  background-color: #cacac7;
}

.basket-container td {
  padding-right: 11px;
  padding-bottom: 15px;
}

.basket-container img {
  border-radius: 50%;
}

.basket-container td:nth-child(3) {
  width: 230px;
}

.basket-container td:nth-child(4) {
  text-align: center;
  width: 115px;
}

.basket-container td:last-child {
  text-align: center;
  width: 60px;
}

.button-register-wrapper {
  display: flex;
  justify-content: space-between;
}

.user-navigation .button {
  padding-top: 11px;
  padding-bottom: 9px;
  padding-right: 25px;
  padding-left: 24px;

  font-size: 18px;
  line-height: 24px;
}

.password-register {
  padding: 0;
  margin: 0;

  list-style: none;
}

.password-register li:first-child {
  margin-bottom: -5px;
}

.password-register a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;

  border-bottom: 1px solid rgba(50, 50, 50, 0.5);
}

.password-register a:hover,
.password-register a:focus {
  color: #e84d37;

  border-bottom: 1px solid #e84d37;
}

.basket-item-price {
  color: #999;
}

.confirm-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.confirm-wrapper .total-price {
  margin-top: 15px;
  margin-bottom: 14px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.user-basket .button {
  padding-top: 9px;
  padding-left: 14px;
  padding-right: 15px;
  padding-bottom: 11px;
}

.work-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.phone-number {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.time-number {
  margin-top: -2px;
  float: right;
  text-align: right;
}

.time-number p {
  margin: 2px 0;
  padding: 0;
}

.inner-page main {
  margin-top: 25px;
}

.main-wrapper {
  display: flex;
  flex-wrap: wrap;
}

/* =====================SLIDER======================== */

.product-slider {
  position: relative;
  width: 100%;
  min-height: 220px;
  margin-top: 320px;
  margin-bottom: 33px;

  box-sizing: border-box;
}

.slides {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
  width: 675px;
  margin: 0 auto;

  text-align: center;
}

.slide.active {
  display: block;
}

.slide-heading {
  padding: 0;
  margin: 0;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slide .button {
  margin-top: 28px;
  padding-top: 14px;
  padding-left: 40px;
  padding-right: 42px;
  padding-bottom: 14px;

  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  border-radius: 35px;
}

.toggles {
  position: absolute;
  left: 0;
  bottom: 25px;
}

.toggle {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #fff;
}

.toggle:hover {
  cursor: pointer;
}

.toggle.active {
  background-color: #fff;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.index-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.offer {
  width: 560px;
}

.top-products {
  width: 100%;
  margin-bottom: 40px;
}

.catalog-heading {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.breadcrumbs {
  padding: 0;
  margin: 0;

  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  list-style: none;
}

.breadcrumbs a {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover {
  color: #ffbc9e;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
}

.filter-type {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-form select {
  padding: 15px;
  padding-top: 8px;
  padding-bottom: 8px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 18px;
}

.filter-form select:hover,
.filter-form select:focus {
  color: #323232;
  cursor: pointer;
}

.sorting-filter option {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #323232;
}

.price-field {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;

  background-color: transparent;
  border: none;
}

.option-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filter-button {
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 28px;
  padding-right: 26px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;

  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #fff;
  border-radius: 18px;
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;

  background-color: #fff;

  cursor: pointer;
}

.filter-button:active {
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 30px;
  padding-right: 28px;

  color: #323232;

  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
  border: none;

  cursor: pointer;
}

.inner-page .catalog-list {
  margin-bottom: 80px;
}

.paginator {
  padding: 0;
  margin: 0;

  list-style: none;
}

.paginator li {
  display: inline-block;
}

.paginator a {
  display: block;
  width: 25px;
  height: 25px;

  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  color: #fff;
  text-align: center;

  border-radius: 50%;
}

.paginator a:hover,
.paginator a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.paginator a:active {
  color: #323232;

  background-color: #fff;
}

.product-slider .button {
  font-size: 32px;
  line-height: 44px;
}

.offer-heading {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.offer p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.offer-raspberry {
  background-color: #6e1427;
  background-image: url(../img/background-img/raspbarry.jpg);
  background-repeat: no-repeat;
}

.offer-chocolade {
  background-color: #442a1d;
  background-image: url(../img/background-img/chocolade.jpg);
  background-repeat: no-repeat;
}

.offer .button {
  padding-top: 11px;
  padding-bottom: 13px;
  padding-left: 22px;
  padding-right: 24px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  width: 267px;
  margin-right: 26px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item-heading {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #fff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-item-heading:hover,
.catalog-item-heading:focus {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.kg {
  font-size: 30px;
}

.features {
  width: 100%;
  margin-bottom: 40px;

  color: #323232;

  background-color: #eddfc2;
  background-image: url(../img/background-img/wafer.jpg);
}

.about-us {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-item {
  width: 485px;
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.news {
  width: 560px;
  color: #323232;

  background-color: #fff;
  background-image: url(../img/background-img/news-background.jpg);
  background-repeat: no-repeat;
}

.news .news-heading {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.news a {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;

  /* Сделал рамкой, потому что подчеркивание не сплошное */
  border-bottom: 2px solid #323232;
}

.news a:hover,
.news a:focus {
  color: #e84d37;

  border-bottom: 2px solid #e84d37;
}

.subscribe {
  width: 560px;
  color: #323232;

  background-color: #f0efed;
}

.map-wrapper {
  padding: 0;
  width: 100%;
  height: 430px;
}

.map-wrapper .container {
  padding-top: 62px;
  box-sizing: border-box;
}

.map {
  position: absolute;
  width: 100%;
  height: 430px;
}

.contacts {
  position: relative;
  z-index: 1;
  margin-left: auto;
  width: 302px;
  min-height: 305px;

  color: #323232;

  background-color: #fdfdfe;
}

.contacts p {
  margin: 0;
  padding: 0;
}

.main-footer {
  display: flex;
  margin-top: 18px;
}

.footer-socials {
  width: 267px;
  margin-right: 133px;
}

.other-info {
  width: 330px;
}

.copyright {
  width: 190px;
  margin-left: auto;
}

.contact-type {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.address {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.phone {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.phone .work-time {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.socials-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.socials-link {
  color: #fff;
}

.other-info-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.other-info-list a {
  color: #fff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.other-info-list .providers-info {
  font-weight: 700;
}

.other-info-list a:hover,
.other-info-list a:focus {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.copyright p {
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.copyright a {
  color: #fff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.copyright a:hover,
.copyright a:focus {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.form-container {
  color: #323232;

  background-color: #f8f7f4;
}

.feedback-heading {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}
